/* 00_base */
@font-face {
  font-family: 'MarrSansRegular';
  src: url("../fonts/MarrSansRegular.eot");
  src: url("../fonts/MarrSansRegular.eot") format("embedded-opentype"), url("../fonts/MarrSansRegular.woff2") format("woff2"), url("../fonts/MarrSansRegular.woff") format("woff"), url("../fonts/MarrSansRegular.ttf") format("truetype"), url("../fonts/MarrSansRegular.svg#MarrSansRegular") format("svg"); }

@font-face {
  font-family: 'MarrSansMedium';
  src: url("../fonts/MarrSansMedium.eot");
  src: url("../fonts/MarrSansMedium.eot") format("embedded-opentype"), url("../fonts/MarrSansMedium.woff2") format("woff2"), url("../fonts/MarrSansMedium.woff") format("woff"), url("../fonts/MarrSansMedium.ttf") format("truetype"), url("../fonts/MarrSansMedium.svg#MarrSansMedium") format("svg"); }

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- SPEC --- */
html {
  font-size: 62.5%; }

/* 02_grid */
:root {
  --grid-columns: 12;
  --grid-gutter: 4rem;
  --grid-spacer: 8rem; }

.row {
  display: grid;
  width: 144rem;
  min-width: 0;
  width: 100%;
  padding-left: var(--grid-spacer);
  padding-right: var(--grid-spacer);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  grid-column-gap: var(--grid-gutter); }

.cell-start-0 {
  grid-column-start: 1; }

.cell-end-0 {
  grid-column-end: 1; }

.cell-0 {
  grid-column: span 0; }

.cell-start-1 {
  grid-column-start: 2; }

.cell-end-1 {
  grid-column-end: 2; }

.cell-1 {
  grid-column: span 1; }

.cell-2 {
  grid-column: span 2; }

.cell-start-2 {
  grid-column-start: 3; }

.cell-end-2 {
  grid-column-end: 3; }

.cell-start-3 {
  grid-column-start: 4; }

.cell-end-3 {
  grid-column-end: 4; }

.cell-3 {
  grid-column: span 3; }

.cell-start-4 {
  grid-column-start: 5; }

.cell-end-4 {
  grid-column-end: 5; }

.cell-4 {
  grid-column: span 4; }

.cell-start-5 {
  grid-column-start: 6; }

.cell-end-5 {
  grid-column-end: 6; }

.cell-5 {
  grid-column: span 5; }

.cell-start-6 {
  grid-column-start: 7; }

.cell-end-6 {
  grid-column-end: 7; }

.cell-6 {
  grid-column: span 6; }

.cell-start-7 {
  grid-column-start: 8; }

.cell-end-7 {
  grid-column-end: 8; }

.cell-7 {
  grid-column: span 7; }

.cell-start-8 {
  grid-column-start: 9; }

.cell-end-8 {
  grid-column-end: 9; }

.cell-8 {
  grid-column: span 8; }

.cell-start-9 {
  grid-column-start: 10; }

.cell-end-9 {
  grid-column-end: 10; }

.cell-9 {
  grid-column: span 9; }

.cell-start-10 {
  grid-column-start: 11; }

.cell-end-10 {
  grid-column-end: 11; }

.cell-10 {
  grid-column: span 10; }

.cell-start-11 {
  grid-column-start: 12; }

.cell-end-11 {
  grid-column-end: 12; }

.cell-11 {
  grid-column: span 11; }

.cell-start-12 {
  grid-column-start: 13; }

.cell-end-12 {
  grid-column-end: 13; }

.cell-12 {
  grid-column: span 12; }

/* 03_system */
:root {
  --color-primary: #0c0c0c;
  --color-secondary: #ffffff;
  --color-tertiary: #ff8813; }

.text-current {
  font-family: 'MarrSansRegular';
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: var(--color-secondary); }

.text-medium {
  font-family: 'MarrSansMedium';
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: var(--color-secondary); }

.text-small {
  font-family: 'MarrSansRegular';
  font-size: 1.6rem;
  line-height: 1.4rem;
  color: var(--color-secondary); }

.text-caption {
  font-family: 'MarrSansRegular';
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #858585; }

/* 04_layout */
body {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%; }

.main {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }

.footer {
  margin-bottom: 3.2rem; }

.navigation {
  margin-top: 4.8rem; }

.credit {
  text-align: right; }

.content {
  height: 100vh;
  overflow: hidden; }

a.link {
  pointer-events: auto;
  z-index: 9999;
  display: inline;
  transition: all 200ms ease-in-out; }

a:hover.link {
  pointer-events: auto;
  color: var(--color-tertiary); }

.link-behance {
  margin-left: 1.6rem; }

.js .loading::before {
  content: '';
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg); }

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards; }

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1); } }

.frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none; }

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate; }

.content__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform; }
