////////
////
//// fonts
////
///////

@font-face {
  font-family: 'MarrSans';
  src: url('../fonts/MarrSans-SemiBold.woff2') format('woff2'),
    url('../fonts/MarrSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MarrSans';
  src: url('../fonts/MarrSans-Medium.woff2') format('woff2'),
    url('../fonts/MarrSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
